
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* body width */
*{
    margin: 0px;
    padding: 0px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.footer{
    max-width: 1140px;
    margin: 0px auto;
}
/* styles navigation var */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.element ul{
    display: flex;
    align-items: center;
}
.element ul li{
    margin-right: 51px;
    list-style: none;
    
}
.element ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
}
.h-button{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.n-button{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}
/* banner style */
.banner-container{
    display: flex;
    justify-content: space-between;
    
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400px;
}
.banner-container img{
    width: 584px;
    height: 676px;
}

.content{
    width: 585px;
    height: 356px;
    text-align: left;
    margin-left: 224px;
    padding: 0px;
    margin-top: 201px;
}
.content button{
    margin-right: 30px;
}

/* header title style */
.header-title{
    font-size: 45px;
    font-weight: 800px;
    margin-left: 220px;
}
.first-primary{
    color: #FD6E0A;
}
/* shared style */
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
.second-bg{
    background-color: #FFF8F3;
}
/* header and banner background */
.bg{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 30px;
    
}
/* about me section */
.about{
    text-align: center;
    padding: 90px 150px;
    margin: 130px 0px;
    
}
.about-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
}
.about-des{
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 50px;
}
.des-info{
    display: flex;
    justify-content: space-around;
    /* margin-right: 80px; */
    gap: 60px;
}
.des-info p{
    font-size: 20px;
    font-weight: 400px;
}
.des-info h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
/* what i do section */
.card-section{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.card-header{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;
}
.card-description{
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 50px;
}
.card-container{
    display: flex;
    gap: 30px;
    text-align: left;
    margin-top: 50px;
}
.card{
    width: 267;
    height: 377;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 30px 0px black;
    border: none;

}

.card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding-top: 30px;
    padding-left: 30px;
}
.card p{
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
    padding-top: 30px;
    padding-left: 30px;
}
.card img{
    padding-left: 30px;
    padding-top: 30px;
}
/* resume section styles */

.resume{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.resume-title{
    text-align: center;
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: bold;
}
.resume-content-title{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.content-header{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.content-header2{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600px;
}
.content-des{
    font-size: 16px;
    font-weight: 400px;
}
.resume hr{
    margin: 30px 5px;
}
/* button resume section */
.btn2{
    display: flex;
    justify-content: center;
    margin: 50px;
}
/* footer styles */
.footer-title{
    padding-top: 130px;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 300px;
    padding-bottom: 130px;
}
.footer-des{
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 30px;
}
.footer a{
    margin-right: 25px;
    
}
.footer2 input[type="text"],input[type="email"]{
    width: 461px;
    height: 64px;
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
}
.footer2 textarea {
    width: 461px;
    height: 180px;
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
}

